.main{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
  background-color: #fff;
}

/* タイトル表示 */
h1 {
  position: relative;
  display: inline-block;
  padding: 10px 55px;
}
h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}
h1:before {
  left:0;
}
h1:after {
  right: 0;
}
/* タイトル表示 */

/* トップ画像表示 */
.top-contents{
  padding: 50px 0;
}
.top-image{
  width: 100%;
}
/* トップ画像表示 */

/* about表示 */
.about-contents{
  width: 580px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.about-text{
  text-align: justify;
  font-size: 26px;
}

/* about表示 */

/* how to表示 */
.container{
  text-align: center;
  padding: 50px 0;
}
.col-lg{
  text-align: center;
  padding-bottom: 20px;
}
.step-img{
  margin: 10px 0;
}
.step-text{
  font-size: 26px;
}
@media screen and (max-width: 992px) {
  .step-img{
    width: 600px;
    height: 600px;
  }
}
/* how to表示 */

/* contact表示 */
.contact{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
.form-label{
  text-align: left;
  display: block;
  font-size: 20px;
}
.btn-size2{
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
}
.submit-btn{
  width: 150px;
  opacity: 0.7;
}
/* contact表示 */