.footer {
  width: 100%;
  background-color: #999;
  padding: 10px 0 2px 0;
}
.footer-brand{
  text-align: center;
}
.links{
  text-align: center;
  margin: 7px 0;
}
.sns-link{
  text-decoration: none;
  margin: 0 5px;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 14px;
}