/* form表示 */
.nav-tabs{
  margin: 30px 0 !important;
}
.nav-item{
  font-size: 20px;
  padding: 5px 0;
}
.current-item{
  border: solid 1px gray;
  border-radius: 5px;
}
.contact2{
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding: 40px 0;
}
.contact{
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
}
.form-label{
  text-align: left;
  display: block;
  font-size: 20px;
}
.btn-size4{
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
}
.submit-btn{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  opacity: 0.7;
  font-size: 20px !important;
}
.submit-btn2{
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px !important;
}
.btn-margin{
  margin-top: 30px;
}
.form-margin{
  margin-top: 30px;
}
@media screen and (max-width: 992px) {
  .forms-wrap{
    width: 100vw;
    min-height: 100vh;
    padding: 40px 30%;
  }
}
/* form表示 */

.form-wrap1{
  width: 100vw;
  min-height: 100vh;
  padding: 40px 20%;
}
.form-wrap2{
  width: 100vw;
  min-height: 100vh;
  padding: 40px 20%;
}
.confirm{
  width: 100%;
  margin: 50px 30px 0 0;
  list-style:none;
}
.confirm-item{
  margin-top:4px;
  padding:10px;
  border: solid 1px lightgray;
  font-size: 20px;
  overflow-wrap:break-word;
}
.done-text{
  padding: 30px 0;
  font-size: 20px;
  text-align: center;
}
.done-btn{
  margin: 20px auto;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .form-wrap1{
    width: 100vw;
    min-height: 100vh;
    padding: 40px;
  }
  .form-wrap2{
    width: 100vw;
    min-height: 100vh;
    padding: 40px;
  }
}