/* gym list表示 */
.gym-list{
  background-image: image-url("back-img1.png");
  height: 1000px;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  margin-top: 50px;
}
.prefectures{
  padding: 20px 0;
}
.dropdown{
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.drop-size{
  width: 80%;
  height: 60px;
  font-size: 22px !important;
}
.local-btn{
  display: flex;
  justify-content: space-between;
}
.local{
  text-decoration: none;
}
.dropdown-menu{
  width: 80%;
  font-size: 20px !important;
  padding-left: 0px !important;
}
.gym-search{
  margin-top: 100px;
}
.d-flex{
  width: 80%;
  margin: 20px auto;
}
/* gym list表示 */