.navbar-nav{
  text-align: center;
}
.navbar-right{
  display: flex;
  margin: 0 0 0 auto;
}
.list-btn{
  margin: 10px;
}
.w-120px {
  width: 120px !important;
}
@media screen and (max-width: 992px) {
  .navbar-right{
    display: block;
    text-align: center;
  }
  .nav-link{
    font-size: 24px;
    margin-top: 10px;
  }
  .navbar-right{
    padding-bottom: 20px;
  }
  .btn-size{
    font-size: 24px !important;
    width: 200px !important;
    height: 50px !important;
    margin-top: 12px !important;
  }
}