<div class="sub-header">
  <div class="header-logo">
    <%= link_to image_tag("logo.png" ,size:"120x40" ,class:"nav-brand"), root_path %>
  </div>
  <div class="header-right">
    <% if request.path.include?("problems") %>
      <div class="list-btn">
        <%= link_to "PROBLEM LIST", gym_problem_lists_path, class: "btn btn-outline-dark btn-size2" %>
      </div>
    <% end %>
    <% unless request.path.include?("users") %>
      <div class="list-btn">
        <%= link_to "MY PAGE", user_path(current_user), class: "btn btn-outline-dark btn-size2" %>
      </div>
    <% end %>
    <div class="list-btn">
      <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark btn-size2" %>
    </div>
  </div>
</div>