.problem-text{
  text-align: center;
}
.problem-list-btn{
  text-align: center;
  margin: 20px 0 50px 0;
}
.problem-lists{
  margin-bottom: 100px;
}
.problem-list{
  display: flex;
  margin: 30px auto;
  padding: auto 0;
  width: 70%;
  border-bottom: solid 1px black ;
}
.problem{
  height: 50px;
  width: 50%;
  font-size: 20px;
  padding: 10px 0 0 10px;
}
.btn-size9{
  font-size: 20px !important;
  width: 24% !important;
  height: 45px !important;
  margin-left: 1%;
}
.btn-size10{
  font-size: 20px !important;
  width: 40% !important;
  height: 45px !important;
  margin-left: 10%;
}
.problem-list-form{
  width: 100% !important;
}
.contact3{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}
@media screen and (max-width: 992px) {
  .problem-list{
    display: flex;
    margin: 30px auto;
    padding: auto 0;
    width: 90%;
    border-bottom: solid 1px black ;
  }
}