.wrapper{
  display: flex;
  min-height: 100vh;
}
.main-problem{
  width: calc(100vw - 380px);
  text-align: center;
  margin: 30px 20px;
}
.side-problem{
  width: 380px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-right: 1px solid;
}
.edit-problem{
  width: 420px;
  text-align: center;
  margin: 50px auto;
  min-height: 100vh;
}
.problem-margin{
  margin-top: 30px;
}
.btn-margin2{
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  .main-problem{
    width: calc(100vw - 40%);
    text-align: center;
    margin: 30px 20px;
  }
  .side-problem{
    width: 40%;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-right: 1px solid;
  }
}

/* side-problem */
.select-box2{
  font-size: 20px;
  height: 70px;
  width: 100%;
  padding: 0 0 0 5px;
  border: solid 1px lightgray;
  border-radius: 3px;
}
.radio-box{
  display: flex;
  justify-content: space-between;
}
.radio{
  width: 32px;
}
.radio-button{
  transform: scale(1.3);
}
/* side-problem */

/* main-problem */
.problem-box{
  display: flex;
  justify-content: center;
}
.problem2{
  height: 50px;
  width: 17%;
  padding-top: 9px;
  font-size: 18px;
  background-color: #eeeeee;
  border: 0.5px solid lightgrey;
}
.problem3{
  height: 50px;
  width: 17%;
  padding-top: 9px;
  font-size: 18px;
  border: 0.5px solid lightgrey;
  margin-bottom: 30px;
}
.problem-box2{
  display: flex;
  margin: 20px 10px 10px 5px;
}
.problem-img{
  margin: 0 0 0 auto;
}
.problem4{
  font-size: 18px;
  text-align: initial;
  margin-right: 5px;
}
.margin-left{
  margin-left: 12px;
}
.btn-size11{
  width: 180px;
  margin-bottom: 20px;
}
.dropdown2{
  width: 180px;
  margin: 0 0 0 auto;
}
.dropdown-flex{
  display: flex;
  justify-content: space-between;
}
.dropdown-text{
  font-size: 18px;
}
.menu-size{
  width: 180px !important;
}
.sort-link{
  text-decoration: none;
  margin: 20px 0;
  color: black;
}
.sort{
  font-size: 18px;
  border-bottom: 1px solid black;
  padding: 0 0 5px 5px;
  margin: 0 10px 10px 10px;
}
.sort2{
  font-size: 18px;
  margin: 0 10px;
  padding-left: 5px;
}

@media screen and (max-width: 992px) {
  .transform{
    display: inline-block;
    transform: scale(0.7,1);
  }
}
/* main-problem */